.App {
  text-align: center;
}

.ratingbox {
  border: 2px solid #ccc;
  height: 800px;
  width: 80%;
  margin: 40px 10%;
  text-align: center;
  box-shadow: #ccc;
}
.rating {
  margin: 25px 60px;
}

.medium {
  color: orange;
}

.modal-header,
h3,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 24px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal-body {
  height: 300px;
  width: auto;
}
