.App {
  text-align: center;
}

.ratingbox {
  border: 2px solid #ccc;
  height: 400px;
  width: 80%;
  margin: 100px 10%;
  text-align: center;
  box-shadow: #ccc;
}
.rating {
  margin: 150px 50px;
}

.medium {
  color: orange;
}
